/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* General */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* body {
	font-family: "Open Sans", sans-serif;
} */

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*/

body {
	font-family: "Open Sans", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

/* HOME */
header {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1;
	background: url(../images/home/showcase.jpg) no-repeat center center/cover;
}

header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

header * {
	z-index: 10;
}

.logo-nav {
	width: 100%;
	height: 4rem;
	display: flex;
	position: fixed;
	top: 0px;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	background: #333;
	opacity: 0.7;
}

.logo {
	color: #fff;
	font-weight: 400;
	font-size: xx-large;
}

.logo-nav span {
	color: #28a745;
}

.logo-nav nav ul {
	display: flex;
}

.logo-nav nav ul li {
	margin-left: 2rem;
}


.logo-nav nav ul li a {
	color: #fff;
	text-decoration: none;
}

.logo-nav nav ul li a:hover {
	border-bottom: 2px solid #28a745;
}

.header-content {
	text-align: center;
	margin: auto;
	/* font-size: 55px; */
	color: #fff;
}

.header-content h2 {
	font-weight: 200;
	font-size: 3.5rem;
	margin-bottom: 2rem;
}

.header-content p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

/* .header-content button:hover {
	opacity: 0.9;
	cursor: pointer;
} */


/* ABOUT */
.about {
	/* display: flex;
	flex-direction: column; */
	/* height: 100vh; */
	scroll-margin: 0px;
	scroll-behavior: smooth;
	/* justify-content: space-between;
	padding: 0.7rem; */
}

.about-top {
	height: 40%;
	/* display: flex; */
	justify-content: space-between;
	padding: 0.7rem;
}

.about-top > div {
	width: 33.3%;
	padding: 2rem;
	text-align: center;
}

.about-top i {
	color: #fff;
	background: #28a745;
	border-radius: 50%;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.about-top h2 {
	font-weight: 500;
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

.about-top p {
	/* font-weight: 200; */
	font-size: 1rem;
	line-height: 1.5rem;
}

.about-bottom {
	height: 60%;
}

.about-bottom-left {
	flex: 1;
	/* width: 50%; */
}

.about-bottom-left img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-bottom-right {
	/* width: 50%; */
	text-align: left;
	padding: 4rem 2rem;
	gap: 1rem;
	flex: 1;
}

.about-bottom-right h2 {
	font-size: 1rem;
	font-weight: 600;
}

.about-bottom-right h3 {
	font-size: 2.5rem;
	font-weight: 100;
	margin-bottom: 0.5rem;
}

.about-bottom-right p {
	font-size: 1.05rem;
	font-weight: 400;
	line-height: 1.5rem;
}

.about-bottom-right button {
	align-self: flex-start;
	border: 1px solid #fff;
}


/* CASES */
.cases {
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 1.5rem;
	/* overflow:unset; */
}

.cases-top {
	text-align: center;
	margin-bottom: 20px;
}

.cases-top h3 {
	font-size: 1rem;
	font-weight: 600;
}

.cases-top h2 {
	font-size: 2.5rem;
	font-weight: 100;
	margin: 30px 0;
}

.cases-top p {
	margin: 20px 0;
	font-size: 1rem;
}

/* .cases > div {
	width: 100%;;
} */

.cases-bottom {
	padding: 1rem 0;
	flex-wrap: wrap;
	gap: 10px;
}

.cases-bottom img {
	width: 24%;
	object-fit: cover;
}

/* BLOG */
.blog {
	/* height: 10vh; */
}

.blog-left {
	padding: 1rem 2rem;
	align-items: flex-start;
	flex: 1;
}

.blog-left h3{
	font-size: 1rem;
	font-weight: 600;
}

.blog-left h2{
	font-size: 2.5rem;
	font-weight: 100;
	margin: 24px 0;
}

.blog-left p{
	text-align: left;
	line-height: 1.5;
	margin-bottom: 20px;
	font-size: 1rem;
	text-wrap: stable;
}

.blog-right {
	flex: 1;
}

.blog-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* TEAM */
.team {
	padding: 0 10px;
	margin-bottom: 50px;
}

.team-top {
	padding: 40px;
	text-align: center;
}

.team-top h3 {
	font-size: 1rem;
	font-weight: 600;
}

.team-top h2 {
	font-size: 2.5rem;
	font-weight: 100;
	margin: 32px 0;
}

.team-top p {
	font-weight: 400;
}

.team-bottom > div {
	width: 33.3%;
	padding: 20px;
}

.team-bottom img {
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
}

.team-bottom h3 {
	margin-bottom: 24px;
	font-weight: 500;
}

/* CONTACT */
.contact-left,
.contact-right {
	flex: 1;
}

.contact-right {
	align-items: stretch;
	padding: 2rem;
}

.contact-right h2{
	align-self: flex-start;
	font-size: 2.5rem;
	font-weight: 200;
	margin-bottom: 1rem;
}

.contact-left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contact-right form input,
.contact-right form button {
	/* color: #333; */
	border: none;
	height: 40px;
	width: 100%;
	padding: 0.3rem;
	margin: 0.5rem 0;
}

.contact-right form button {
	margin-top: 1rem;
}

/* FOOTER */
footer {
	justify-content: center;
	align-items: center;
	padding: 4rem 0;
}

footer h3 {
	font-size: 1.1rem;
}

.socials {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	margin-bottom: 1.5rem;
}

.socials a:hover {
	color: #28a745;
}
