.primary-btn {
    border: none;
	background: #28a745;
	border: none;
	font-size: 1rem;
	padding: 1rem 2.5rem;
	color: #fff;
	border-radius: 5px;
}

.primary-btn:hover{
    opacity: 0.9;
	cursor: pointer;
}

.bg-primary {
    background: #28a745;
    color: #fff;
}

/* Flex */
.flex-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

/* .flex-row > div {
    padding: 20px;
} */

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    width: 100%;
}
